@using Web.Domen.Models
@model Web.Domen.Models.PhotoAlbom
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="albomDetails">
    <div class="albomDescr">
        <div class="albomAvatar">
            <img alt="" src="@(Model.Avatar ?? "/Content/img/1.jpg")"/>
        </div>
        <div class="albomText">
            <p>@Model.Title</p>
            <p>@Model.Description</p>
            <p>
                <a href="@Url.Action("EditAlbom", new {id = Model.Id})" class="greenBtn">Редактировать</a>

            </p>
            @if (!Model.Regions.Any())
            {
                <a href="@Url.Action("DeleteAlbom", new {id = Model.Id})" class="redBtn">Удалить</a>
            }
            else
            {
                <p style="color: red">Для удаления альбома, удалите все разделы в данном фотоальбоме.</p>
            }
        </div>
        <div class="">
            @using (Html.BeginForm("AddVideo","ImageGalary", FormMethod.Post))
            {
                @Html.Hidden("id", Model.Id)
                <label>Ссылка на видео:</label>
                <input type="url" name="videoLink"/>
                <button type="submit">Добавить</button>
            }
        </div>
    </div>
    <hr/>
    @if (Model.Regions.Any(galary => galary.Title.Equals("video", StringComparison.CurrentCultureIgnoreCase) && galary.Photos.Any()))
    {
        var imageGalary = Model.Regions.FirstOrDefault(galary => galary.Title.Equals("video", StringComparison.CurrentCultureIgnoreCase));
        if (imageGalary != null)
        {
            <div class="albomRegion">
                <h3>Видео с мероприятия</h3>
                <a href="@Url.Action("DeleteRegion", new {id =  imageGalary.Id})" title="Удалить раздел с фотографиями">Удалить</a>
            </div>
            <div class="alboms">
                <div class="videoItem">
                    @foreach (var video in imageGalary.Photos.Where(data => !string.IsNullOrEmpty(data.VideoLink)))
                    {
                        <iframe width="500" height="315" src="@video.VideoLink" allowfullscreen></iframe>
                        <a href="@Url.Action("DeletePhoto", new {id = video.Id})">Удалить</a>

                    }
                </div>
            </div>
        }
    }
@if (Model.Regions.Any(galary => !galary.Title.Equals("video", StringComparison.CurrentCultureIgnoreCase)))
{
    foreach (var region in Model.Regions.Where(galary => !galary.Title.Equals("video", StringComparison.CurrentCultureIgnoreCase)))
     {

         <div class="albomRegion">
             <div class="addPhotoForm">
                 <h3 title="@region.Description">@(string.IsNullOrEmpty(region.Title)?"Нет названия":region.Title)</h3>
                 <a href="@Url.Action("EditRegion", new {id = region.Id})" title="Редактировать раздел">Изменить</a>
                 <a href="@Url.Action("DeleteRegion", new {id = region.Id})" title="Удалить раздел с фотографиями">Удалить</a>
                 <a href="@Url.Action("UploadsPhotos", new {regionId = region.Id, albomId = Model.Id})" title="Добавить фото в раздел">Добавить фото</a>
                 @*@using (Html.BeginForm("BulkAddPhotos", "ImageGalary", FormMethod.Post, new {enctype = "multipart/form-data"}))
                 {
                     @Html.Hidden("regId", region.Id)
                     @Html.Hidden("Albom.Id", Model.Id)
                     @Html.ValidationSummary()
                     <input type="file" name="photos" multiple="multiple"/>
                     <button type="submit">Добавить</button>
                 }*@
             </div>
         </div>
         <div class="alboms">
             @if (region.Photos.Any())
             {
                 foreach (var image in region.Photos.Where(data => data.Path != null))
                 {
                     <div class="albomItem">
                         <div class="albomAvatar">
                             <img alt="" src="@image.Path"/>
                         </div>
                         @if (image.TitleView)
                         {
                             <a class="offTitle" href="@Url.Action("OnTitlePage", new {id = image.Id})">Убрать с главной</a>
                         }
                         else
                         {
                             <a class="onTitle" href="@Url.Action("OnTitlePage", new {id = image.Id})">На главную</a>
                         }
                         <a href="@Url.Action("DeletePhoto", new {id = image.Id})">Удалить</a>
                     </div>
                 }
             }
             else
             {
                 <h2>Раздел не содержит фотографий</h2>
             }

         </div>
         <hr/>
     }
}

    <hr/>
    <div class="addRegionForm">
        @using (Html.BeginForm("CreateRegion", "ImageGalary", FormMethod.Post, new {enctype = "multipart/form-data"}))
        {
            <p>Добавить раздел:</p>
            @Html.Hidden("Albom.Id", Model.Id)
            <input type="text" name="Title" value="" placeholder="Название раздела"/>
            <textarea rows="2" name="Description" placeholder="Описание раздела"></textarea>
            <button type="submit">Добавить</button>
        }
    </div>
    <hr/>
</div>


@*<div class="addPhotoForm">
        @using (Html.BeginForm("BulkAddPhotos","ImageGalary", FormMethod.Post, new {enctype="multipart/form-data"}))
        {
            @Html.HiddenFor(albom => albom.Id)
            <input type="file" name="photos" multiple="multiple" />
                <button type="submit">Добавить</button>
        }
    </div>
    <hr/>
    <div class="alboms">
        @if (Model.Images.Any())
        {
            foreach (var image in Model.Images.Where(data => data.Path != null))
            {
                <div class="albomItem" >
                    <div class="albomAvatar">
                        <img alt="" src="@image.Path"/>
                    </div>
                    @if (image.TitleView)
                    {
                        <a class="offTitle" href="@Url.Action("OnTitlePage", new {id = image.Id})">Убрать с главной</a>
                    }
                    else
                    {
                        <a class="onTitle" href="@Url.Action("OnTitlePage", new {id = image.Id})">На главную</a>
                    }
                    <a href="@Url.Action("DeletePhoto", new {id=image.Id})">Удалить</a>
                </div>
            }
        }
        else
        {
            <h2>Альбом не содержит фотографий</h2>
        }
    </div>*@