@model IEnumerable<Web.Domen.Models.Paty>

<div class="myColumn" style="background-color: rgb(231, 231, 231)">
    <h2>РЕКОМЕНДУЕМЫЕ МЕРОПРИЯТИЯ</h2>
    <div class="ds"><span> </span><span> </span><span> </span></div>
   
    <div class="row960">
        <div class="prevSuggestedItem">
            <img alt="" src="/Content/img/prevBtn.png" />
        </div>
        <div class="carouselBlock">
            <div class="owl-carousel" id="suggestedPatyCarousel">
                @foreach (var item in Model)
                {
                    <div class="item">
                        <a href="/sobitie/@item.RouteTitle">
                            <div class="patyWrapper">
                                <div class="patyData">

                                    <div class="patyDataImageWraper">
                                        @if (item.Avatar != null)
                                        {
                                            <img alt="" src="@item.Avatar.Path" />
                                        }
                                        else
                                        {
                                            <img alt="" src="/Content/img/pList/454x312.jpg" />
                                        }
                                    </div>
                                    <div class="redline"></div>
                                    <p>@item.PatyDate.ToShortDateString()</p>
                                    <h3 title="@item.Title">@(item.Title.Length >= 29 ? item.Title.Substring(0, 26) + "..." : item.Title)</h3>

                                    <p class="pD">@((item.Descr != null && item.Descr.Length >= 125) ? item.Descr.Substring(0, 121) + "..." : item.Descr)</p>
                                    <p style="text-align: right; position: absolute; bottom: 20px; right: 20px"><span class="redButton">Записаться со скидкой</span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
        <div class="nextSuggestedItem">
            <img alt="" src="/Content/img/nextBtn.png" />
        </div>
    </div>
</div>