@model Web.Models.Viewmodels.ResetPassVm
@{
    ViewBag.Title = "Восстановление пароля";
    Layout = "~/Views/Shared/_MainRnB.cshtml";
}

<div class="myColumn">
    <div class="formLoginItem">
        @using (Html.BeginForm("ResetPassword", "Auth", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(vm => vm.Id)
            @Html.HiddenFor(vm => vm.Token)
            <div class="formTitle">
                <h2>
                    Восстановление пароля
                </h2>
            </div>
            <div class="inpItem">
                @Html.PasswordFor(password => password.NewPassword, new {placeholder = "Новый пароль"})
            </div>
            @Html.ValidationMessageFor(password => password.NewPassword)
            <div class="inpItem">
                @Html.PasswordFor(password => password.ConfirmPassword, new {placeholder = "Подтверждение"})
            </div>
            @Html.ValidationMessageFor(password => password.ConfirmPassword)
            <div class="formFooter">
                <button type="submit" class="redButton">Восстановить</button>
            </div>
        }
    </div>
</div>
