@model Web.Domen.Models.PatyCategory
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_MainRnB.cshtml";
}
<div class="myColumn">
    <h1>@Model.Title</h1>
    <div class="ds"><span> </span><span> </span><span> </span></div>
    <div class="column970">
        <p style="text-align: center; display: block; margin: 20px 0 0 0; font-size: 14pt;">@Model.Description</p>
    </div>
    <div class="row960w">
        @foreach (var item in Model.Paties.OrderByDescending(paty => paty.PatyDate))
        {
            <div class="patyItemDetails">
                <a href="/sobitie/@item.RouteTitle">
                    <div class="npImgWrapper">
                        <h3>@item.PatyDate.ToString("M")</h3>
                        @if (item.Avatar != null)
                        {
                            <img alt="" src="@($"https://redblackclub.ru{item.Avatar.Path}")" />
                        }
                        else
                        {
                            <img alt="" src="/Content/img/pList/454x312.jpg" />
                        }
                        <div class="flyingButton">
                            <p class="redButton">Подробнее</p>
                        </div>
                        <div class="title">
                            <h3>@item.Title</h3>
                        </div>
                    </div>
                </a>
                <div class="itmDescr">
                    @if (!string.IsNullOrEmpty(item.Descr) && item.Descr.Length >= 100)
                    {
                        <p>@item.Descr</p>
                    }
                    else
                    {
                        <p>@(item.Descr ?? "")</p>
                    }
                </div>

            </div>
        }
    </div>
</div>