@model IEnumerable<Web.Domen.Models.PatyCategory>
@{
    ViewBag.Title = "Мероприятия";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var i = 0;
}

<div class="albomIndex">
    <div class="controlsBlock">
        <a>Категории</a>
        <a>Мероприятия</a>
    </div>
    <div class="categorysTable">
        <table>
            <tr>
                <th>#</th>
                <th>Наименование</th>
                <th>Состав группы</th>
                <th>Мероприятий</th>
                <th><a href="@Url.Action("AddCategory")" class="greenBtn">Добавить</a></th>
            </tr>
            @foreach (var item in Model.Where(category => category.ParentCategory == null))
            {
                i++;
                <tr>
                    <td>@i</td>
                    <td>@item.Title</td>
                    <td>@Model.Count(category => category.ParentCategory!=null && category.ParentCategory.Id==item.Id)</td>
                    <td>@Model.Where(category => category.ParentCategory != null && category.ParentCategory.Id == item.Id).Sum(category => category.Paties.Count)</td>
                    <td>
                        <a href="@Url.Action("PatyInner", new {id=item.Id})" class="greenBtn">Изменить</a>
                        <a href="@Url.Action("DeleteCategory", new {id=item.Id, returnUrl=Request.Url?.PathAndQuery})" class="redBtn">Удалить</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
@*<div id="patySection">
    <div>
        <div class="formPopUp" style="display: none" data-bind="visible:Paty.viewmodel.editPaty().mode()==='EDIT'">
            <div class="formWrapper">
                <div class="closeButton">
                    <button type="button" data-bind="click:Paty.viewmodel.editPaty().mode.bind($data, 'VIEW')">X</button>
                </div>
                <form id="patyForm" class="updRoot" data-bind="submit:Paty.submitPaty">
                    <div class="displayRow">
                        <div class="fleft">
                            <div class="imgWrapper">
                                <img alt="" style="display: none" data-bind="attr:{src:Paty.viewmodel.editPaty().info.Avatar.Path}, visible:Paty.viewmodel.haveAvatar()==='YES'" width="454" />
                                <img alt="" src="" id="patyAvatar" style="display: none" data-bind="visible:Paty.viewmodel.newPhoto()==='PREVIEW'" width="454"/>
                                <div class="photoPlaceholder" id="AvatarHolder" data-bind="visible:Paty.viewmodel.haveAvatar()==='NO'">
                                    <h3>нет изображения</h3>
                                    <p>
                                        Для загрузки принимаются изображения в формате <span>*.jped / *.png</span>, размером не более 512кб
                                    </p>
                                    <p style="color: red">Размер изображения 454px*312px.</p>
                                </div>
                                <ul>
                                    <li>
                                        <label>
                                            Выберите файл
                                            <input id="patyInput" type="file" accept="image/jpeg,image/png" />
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="fright">
                            <input name="category" type="hidden" data-bind="value:Paty.viewmodel.editPaty().info.Category().Id" />
                            <input name="avaId" type="hidden" data-bind="value:Paty.viewmodel.editPaty().info.Avatar.Id"/>
                            <p>Категория: <strong data-bind="text:Paty.viewmodel.editPaty().info.Category().Title"></strong></p>
                            <input name="id" type="hidden" data-bind="value:Paty.viewmodel.editPaty().info.Id" />
                            <input type="text" name="title" data-bind="value:Paty.viewmodel.editPaty().info.Title" placeholder="Наименование" />
                            <input type="text" name="date" id="dt" data-bind="value:Paty.viewmodel.editPaty().info.ExpDate"/>
                            <label>Количество мест:</label>
                            <input type="number" name="maxGuests" min="1" data-bind="value:Paty.viewmodel.editPaty().info.MaxGuests" placeholder="Места" />
                            <label>Рейтинг:</label>
                            <input type="number" name="rate" min="1" data-bind="value:Paty.viewmodel.editPaty().info.Rate" placeholder="Рейтинг" />
                            <label title="0 - бесплатно">Стоимость:</label>
                            <input type="number" name="price" min="0" data-bind="value:Paty.viewmodel.editPaty().info.Price" placeholder="Стоимость" />
                            <input type="text" name="dres" data-bind="value:Paty.viewmodel.editPaty().info.Dres" placeholder="Дресс-код" />
                            <textarea rows="8" name="descr" data-bind="textInput:Paty.viewmodel.editPaty().info.Description" placeholder="Описание события"></textarea>
                            <input type="text" name="place" data-bind="value:Paty.viewmodel.editPaty().info.Place" placeholder="Адрес проведения" />
                            <textarea rows="5" name="interest" data-bind="textInput:Paty.viewmodel.editPaty().info.PatyInterest" placeholder="На мероприятии вы сможете:"></textarea>
                            <button type="submit">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="controlsBlock">
        <button type="button" data-bind="click:Paty.viewmodel.currView.bind($data,'INDEX')">Главная</button>
        <button type="button" data-bind="click:Paty.viewmodel.currView.bind($data,'CATEGORYS')">Категории</button>
        <button type="button" data-bind="click:Paty.viewmodel.currView.bind($data,'PATYS')">Мероприятия</button>
    </div>
    <div class="patyIndex" style="display: none" data-bind="visible:Paty.viewmodel.currView()==='INDEX'">
        <h2>INDEX</h2>
    </div>
    <div class="PatyCategorys" style="display: none" data-bind="visible:Paty.viewmodel.currView()==='CATEGORYS'">
        @Html.Partial("placeholders/_PatyCategorys")
    </div>
    <div class="patys" style="display: none" data-bind="visible:Paty.viewmodel.currView()==='PATYS'">
        @Html.Partial("placeholders/_Patys")
    </div>
</div>*@

@section scripts
{
@*<script src="~/Scripts/AdminJs/paty.js"></script>*@
}
