@using Web.Helpers
@model Web.Domen.Viewmodels.PhotosViewModel
@{
    ViewBag.Title = Model.Albom.Title;
    Layout = "~/Views/Shared/_MainRnB.cshtml";
}

<div class="myColumn" id="pt">
    <div class="albomHead">
        <h1 class="albomTitle"><span>@Model.Albom.AlbomDate.ToShortDateString()</span><span>@Model.Albom.Title</span></h1>
    </div>
    @if (Model.Albom.Regions.Any(galary => galary.Title.Equals("video", StringComparison.CurrentCultureIgnoreCase)))
    {
        var videoBlock = Model.Albom.Regions.FirstOrDefault(galary => galary.Title.Equals("video", StringComparison.CurrentCultureIgnoreCase));
        if (videoBlock != null && videoBlock.Photos.Any())
        {
            <div class="regionTitle">
            </div>
            <div class="row960w">
                @foreach (var item in videoBlock.Photos.Where(data => data.VideoLink != null))
                {
                    <div class="pvVideoWr">
                        @if (HttpContext.Current.Request.IsMobileBrowser())
                        {
                            <iframe width="400" height="230" src="@item.VideoLink" allowfullscreen frameborder="0"></iframe>

                        }
                        else
                        {
                            <iframe width="630" height="330" src="@item.VideoLink" allowfullscreen frameborder="0"></iframe>
                        }
                    </div>
                }
            </div>
        }
    }
    @foreach (var video in Model.Photos.Select(data => data.Region).Distinct())
    {

        <div class="regionTitle">
            <p><span>@video.Title</span></p>
            <p class="regionDescr">@video.Description</p>
        </div>
        <div class="rowFullw">
            @foreach (var item in Model.Photos.Where(data => data.Path!=null && data.Region.Id==video.Id))
            {
                <div class="pvImageWr" data-photoId ="@item.Id">
                    <a href="@($"https://redblackclub.ru{item.Path}")" data-lightbox="@item.Region.Id" data-title="@(item.Region.Description??"К этому фото пока нет описания")">
                        @*<img alt="" src="/Content/img/500x350.jpg"/>*@
                        <img class="example-image" alt="" src="@($"https://redblackclub.ru{item.Path}")" />
                        <div class="pvBorder"></div>
                    </a>
                    <div class="actions albomStat">
                            <i class="fa fa-eye"></i>
                            <p>@item.Viewed</p>
                        <a id="@item.Id" class="like">
                            <i class="fa fa-heart"></i>
                            <p>@item.Likes</p>
                        </a>
                        <a href="@Url.Content(item.Path)" target="_blanck">
                            <i class="fa fa-download"></i>
                        </a>
                        <i class="fa fa-share-alt"></i>
                    </div>
                </div>
            }

        </div>
    }
    <div class="pageLinks">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("AlbomDetails", new {id = Model.Albom.Id, page = x}))
    </div>
    <a href="/Galary" class="redButton" style="margin-top: 20px;">Назад к галерее</a>

</div>
@section scripts
{
    <script>
        $(".like").on('click', function(event) {
            var count = parseInt($(this).children("p").text());
            $.ajax({
                url: "/Home/LikePhoto/" + this.id,
                type: "POST",
                success: function() {
                }
            });
            $(this).children("p").text(count + 1);

            console.log(this.id);
        });
        $(".pvImageWr").on('click', function(event) {
            var id = $(this).attr("data-photoId");
            $.ajax({
                url: "/Home/ViewedPhoto/" + id,
                type: "POST",
                success: function () {
                }
            });
        });
    </script>
}
