<footer>
    <div class="row960w">
        <div class="hidden-sm hidden-xs fBlock fWe">
            <p>Подписывайтесь и читайте нас в социальных сетях и смотрите нас на канале Youtube:</p>
            <div class="socLinks">
                <a class="facebook" href="https://www.facebook.com/groups/770920026383232/" target="_blank"></a>
                <a class="vk" href="https://vk.com/redblack_club" target="_blank"></a>
                <a class="od" href="https://ok.ru/krasnoeichernoe" target="_blank"></a>
            </div>
            <div class="socLinks">
                <a class="inst"></a>
                <a class="you" href="https://www.youtube.com/channel/UC1jja091tN0Oc5yGaOg8QjA" target="_blank"></a>
                <a class="tw" href="https://twitter.com/_Redblackclub" target="_blank"></a>
            </div>
        </div>
        <div class="visible-sm visible-xs fBlock fWe">
            <p>Подписывайтесь и читайте нас в социальных сетях и смотрите нас на канале Youtube:</p>
            <div class="socLinks">
                <a class="facebook" href="https://www.facebook.com/groups/770920026383232/" target="_blank"></a>
                <a class="vk" href="https://vk.com/redblack_club" target="_blank"></a>
                <a class="od" href="https://ok.ru/krasnoeichernoe" target="_blank"></a>
                <a class="inst" href="https://www.instagram.com/krasnoe__chernoe/" target="_blank"></a>
                <a class="you" href="https://www.youtube.com/channel/UC1jja091tN0Oc5yGaOg8QjA" target="_blank"></a>
                <a class="tw" href="https://twitter.com/_Redblackclub" target="_blank"></a>
            </div>
        </div>
        <div class="fBlock lList">
            <ul>
                <li><a href="@Url.Action("Company","Home")">О клубе</a></li>
                <li><a href="@Url.Action("Galary")">Галерея</a></li>
                <li><a href="@Url.Action("Index","Blog")">Блог</a></li>
                @*<li><a href="#">Привилегии</a></li>*@
                @*<li><a href="#">Члены клуба</a></li>*@
                @*<li><a href="#">Бизнес ужины</a></li>*@
                <li><a href="@Url.Action("Otzivi","Home")">Отзывы</a></li>
                <li><a href="@Url.Action("Contacts")">Контакты</a></li>
                <li><a href="@Url.Action("Paty","Paty")">Мероприятия</a></li>
                @*<li><a href="#">Политика <br /> конфиденциальности</a></li>*@
            </ul>
        </div>
        <div class="fBlock lList">
            <ul>
                <li><a href="/meropriatiya/business-vstrechi">Бизнес встречи</a></li>
                <li><a href="/meropriatiya/razvlekatelniy-format">Развлекательный формат</a></li>
                <li><a href="/meropriatiya/igrovie">Игровые мероприятия</a></li>
                <li><a href="/meropriatiya/sportivnie">Спортивные мероприятия</a></li>
                <li><a href="/meropriatiya/aktivniy-otdih">Активный отдых</a></li>
                <li><a href="/meropriatiya/razvitie-navikov">Развитие навыков</a></li>
                @*<li><a href="#">Сотрудничество</a></li>*@
                @*<li><a href="#">Лидогенерация</a></li>*@
                @*<li><a href="#">PR-сопровождение</a></li>*@
                @*<li><a href="#">Сопровождение <br/> мероприятий</a></li>*@
                @*<li><a href="#">Поддержка мероприятий</a></li>*@
                @*<li><a href="#">Оферта</a></li>*@
            </ul>
        </div>
        <div class="fBlock fContact">
            <h2>контакты:</h2>
            <h3>
                355037, <br /> г. Ставрополь, <br /> ул. Пирогова 42/1<br/> офис 25
            </h3>
            <h3 style="font-weight: 600">+7(962) 459-98-51</h3>
            <h3 style="font-weight: 600">+7(918) 741-88-03</h3>
            <h3><a href="mailto:info@redblackclub.ru">info@redblackclub.ru</a></h3>
        </div>
        <div class="fBlock fLogo">
            <a href="#" class="redButton">Задать вопрос</a>
            <p>ИП Воронов Василий <br/> Сергеевич</p>
            <p>ИНН 263406917904</p>
            <p>ОГРН 307262809300040</p>
            <p>Разработка сайта:</p>
            <a href="http://webagregator.ru/">
                <img alt="developer" src="http://webagregator.ru/images/logo.svg" />
            </a>
        </div>
    </div>
</footer>
