<header id="head">
    @if (!User.Identity.IsAuthenticated)
    {
        @Html.Action("RegisterPopUp", "Home")
        @Html.Action("LoginPopUp", "Home")
    }
    @Html.Action("ThankYou", "Home")
    @Html.Action("AskMePopUp", "Home")

    <div class="headerRow hBlock">
        <div class="hLeft">
            <div class="hLeftWrapper">
                <a class="redButton" data-bind="click:popUp.askmenow">Задать вопрос</a>
                <p>Подписывайтесь на нас!</p>
                <div class="socLinksHead">
                    <a href="https://twitter.com/_Redblackclub" target="_blank" class="tw"></a>
                    <a href="https://www.facebook.com/groups/770920026383232/" target="_blank" class="facebook"></a>
                    <a href="https://vk.com/redblack_club" target="_blank" class="vk"></a>
                    <a href="https://ok.ru/krasnoeichernoe" target="_blank" class="od"></a>
                    <a href="https://www.youtube.com/channel/UC1jja091tN0Oc5yGaOg8QjA" target="_blank" class="you"></a>
                    <a href="https://www.instagram.com/krasnoe__chernoe/" target="_blank" class="inst"></a>
                </div>
            </div>
        </div>
        <div class="hMidle">
            <h1 class="grayColor">
                КЛУБ <span class="redColor">KRASNOE </span><span>&amp; ЧЕРНОЕ</span> - СООБЩЕСТВО АКТИВНЫХ,<br/>ИНТЕРЕСНЫХ И ПРЕДПРИИМЧИВЫХ ЛЮДЕЙ
            </h1>
        </div>
        <div class="hRight">
            <div class="hRightWrapper">
                <p>
                    <img alt="" src="/Content/img/pt.png"/>+7(962)459-98-51
                </p>
                <p>
                    <img alt="" src="/Content/img/pt.png"/>+7(918)741-88-03
                </p>
                <a href="mailto:info@redblackclub.ru"><img alt="" src="/Content/img/letter.png"/>info@redblackclub.ru</a>
                <div class="regBlock">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a href="@Url.Action("Index", "Paty")" class="redLink">ADMIN</a>
                        <span>|</span>
                        <a href="@Url.Action("LogOut", "Auth")" class="redLink">Выйти</a>
                    }
                    else
                    {
                        if (User.Identity.IsAuthenticated)
                        {
                            <a href="@Url.Action("Index", "Customer")" class="redLink">@User.Identity.Name</a><span>|</span><a href="@Url.Action("LogOut", "Auth")" class="redLink">Выйти</a>
                        }
                        else
                        {
                            <a href="#" class="redLink" data-bind="click:popUp.registerMe">Регистрация</a><span>|</span><a href="#" class="redLink" data-bind="click:popUp.loginMe">Войти</a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    @Html.Action("Navigation", "Home")
</header>
