@model Web.Domen.Viewmodels.LogivVm
<div style="display: none;" data-bind="visible:login">
    <div class="popUpWrapper">
        <div class="formLoginRow">
            <div class="formClose">
                <p data-bind="click:popUp.loginMe">x</p>
            </div>

            <div class="formLoginItem">
                @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="formTitle">
                        <h2>
                            Войти в личный <br />кабинет
                        </h2>
                    </div>
                    <div class="inpItem">
                        @Html.TextBoxFor(vm => vm.Email, new { placeholder = "E-mail", required=""})
                    </div>
                    <div class="inpItem">
                        @Html.PasswordFor(vm => vm.Password, new {placeholder = "Пароль"})
                    </div>
                    @Html.ActionLink("Забыли пароль?","RemmemberPassword","Auth", null ,new {@class="redLink"});
                    <div class="formFooter">
                        <button type="submit" class="redButton">Войти</button>
                    </div>
                }
            </div>
            <div class="formLoginItem">
                <div class="socLogin flexCol">
                    <div class="formTitle">
                        <h2>
                            Войти в личный <br />кабинет
                        </h2>
                    </div>
                    <p>Вы можете зарегистрироваться или войти в Личный Кабинет через социальную сеть:</p>
                    <div class="socLinks">
                        <a href="@Url.Action("ExternalLogin", "Auth", new {provider = "Facebook"})"><img alt="" src="/Content/img/soc/f.png" width="23" /></a>
                        @*<a><img alt="" src="/Content/img/soc/i.png" width="23" /></a>*@
                        <a href="@Url.Action("VkAuth", "Auth")"><img alt="" src="/Content/img/soc/b.png" width="23" /></a>
                        @*<a><img alt="" src="/Content/img/soc/o.png" width="23" /></a>*@
                        @*<a><img alt="" src="/Content/img/soc/t.png" width="23" /></a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
