@model IEnumerable<Web.Domen.Models.Paty>
@{
    ViewBag.Title = "Ближайшие мероприятия";
    Layout = "~/Views/Shared/_MainRnB.cshtml";
}

<div class="nearParty nearPartyDetails">
    <h2>В нашем клубе вы найдете занятие, которое вам по душе:</h2>
    <div><span> </span><span> </span><span> </span></div>
    <div class="row960w">
        @foreach (var item in Model.OrderBy(paty => paty.PatyDate))
        {
            <div class="patyItemDetails">
                <a href="/spisok-meropriatiy/@item.Category.RouteTitle">
                    <div class="npImgWrapper">
                        <h3>@item.PatyDate.ToString("M")</h3>
                        @if (item.Category.Avatar != null)
                        {
                            <img alt="" src="@($"https://redblackclub.ru{item.Category.Avatar.Path}")"  />
                        }
                        else
                        {
                            <img alt="" src="/Content/img/pList/454x312.jpg" />
                        }
                        <div class="flyingButton">
                            <p class="redButton">Подробнее</p>
                        </div>
                        <div class="title">
                            <h3>@item.Title</h3>
                        </div>
                    </div>
                    <div class="itmDescr">
                        @if (!string.IsNullOrEmpty(item.Descr) && item.Descr.Length >= 100)
                        {
                            <p>@item.Descr</p>
                        }
                        else
                        {
                            <p>@(item.Descr ?? "")</p>
                        }
                    </div>
                </a>
            </div>
        }
    </div>
</div>