@using Web.Helpers
@model IEnumerable<Web.Domen.Models.Paty>
<div class="nearParty" style="background-color: #e8e8e8;">
    <h2>ближайшие мероприятия:</h2>
    <div><span> </span><span> </span><span> </span></div>
    @if (HttpContext.Current.Request.IsMobileBrowser())
    {
        <div class="patyBlock">
            @foreach (var item in Model.Take(3))
            {
                <a href="/sobitie/@item.RouteTitle">
                    <div class="patyWrapper">
                        <div class="patyData">

                            <div class="patyDataImageWraper">
                                @if (item.Avatar != null)
                                {
                                    <img alt="" src="@item.Avatar.Path" />
                                }
                                else
                                {
                                    <img alt="" src="/Content/img/pList/454x312.jpg" />
                                }
                                @*<img alt="" src="/Content/img/500x350.jpg" />*@
                            </div>
                            <div class="redline"></div>
                            <p>@item.PatyDate.ToShortDateString()</p>
                            <h3 title="@item.Title">@(item.Title.Length >= 29 ? item.Title.Substring(0, 26) + "..." : item.Title)</h3>

                            <p class="pD">@((item.Descr != null && item.Descr.Length >= 125) ? item.Descr.Substring(0, 121) + "..." : item.Descr)</p>
                            <p style="padding-bottom: 20px;"><span class="redLink">Подробнее ></span></p>

                        </div>
                    </div>
                </a>
            }

        </div>
    }
    else
    {
        if (Model.Count() > 3)
        {
            <div class="hidden-sm hidden-xs row960">
                <div class="prevItem" id="prev">
                    <img alt="" src="/Content/img/prevBtn.png"/>
                </div>
                <div class="patyCarousel" id="paty">
                    @foreach (var item in Model)
                    {
                        <div class="carItem">
                            <a href="/sobitie/@item.RouteTitle">
                                <div class="topString"></div>
                                <div class="whiteBg">
                                    @if (item.Avatar != null)
                                    {
                                        <img alt="" src="@item.Avatar.Path" height="168"/>
                                    }
                                    else
                                    {
                                        <img alt="" src="/Content/img/pList/454x312.jpg" height="168"/>
                                    }
                                    <div class="redline"></div>
                                    <p>@item.PatyDate.ToShortDateString()</p>
                                    <h3 title="@item.Title">@(item.Title.Length >= 29 ? item.Title.Substring(0, 26) + "..." : item.Title)</h3>

                                    <p class="pD">@((item.Descr != null && item.Descr.Length >= 125) ? item.Descr.Substring(0, 121) + "..." : item.Descr)</p>
                                    <p style="padding-bottom: 20px;"><span class="redLink">Подробнее ></span></p>

                                </div>
                            </a>
                        </div>

                    }
                </div>
                <div class="nextItem" id="next">
                    <img alt="" src="/Content/img/nextBtn.png"/>
                </div>
            </div>
        }
        else
        {
            <div class="patyBlockDesctop">
                @foreach (var item in Model.Take(3))
                {
                    <a href="/sobitie/@item.RouteTitle">
                        <div class="patyWrapper">
                            <div class="patyData">

                                <div class="patyDataImageWraper">
                                    @if (item.Avatar != null)
                                    {
                                        <img alt="" src="@($"https://redblackclub.ru{item.Avatar.Path}")"/>
                                    }
                                    else
                                    {
                                        <img alt="" src="/Content/img/pList/454x312.jpg" />
                                    }
                                    @*<img alt="" src="/Content/img/500x350.jpg" />*@
                                </div>
                                <div class="redline"></div>
                                <p>@item.PatyDate.ToShortDateString()</p>
                                <h3 title="@item.Title">@(item.Title.Length >= 29 ? item.Title.Substring(0, 26) + "..." : item.Title)</h3>

                                <p class="pD">@((item.Descr != null && item.Descr.Length >= 125) ? item.Descr.Substring(0, 121) + "..." : item.Descr)</p>
                                <p style="padding-bottom: 20px;"><span class="redLink">Подробнее ></span></p>

                            </div>
                        </div>
                    </a>

                }

            </div>
        }
    }

    <a href="@Url.Action("NearDetails")" class="redButton">Смотреть расписание на ближайший месяц</a>
</div>
