@model IEnumerable<Web.Domen.Models.Paty>
@{
    ViewBag.Title = "Ближайшие мероприятия";
    Layout = "~/Views/Shared/_MainRnB.cshtml";
}

<div class="nearParty nearPartyDetails">
    <h2>В нашем клубе вы найдете занятие, которое вам по душе:</h2>
    <div><span> </span><span> </span><span> </span></div>
    <div class="row960w">
        @foreach (var item in Model.OrderBy(paty => paty.PatyDate))
        {
            <div class="patyItemDetails">
                <div class="npImgWrapper">
                    <h3>@item.PatyDate.ToString("M")</h3>
                    @if (item.Avatar != null)
                    {
                        <img alt="" src="@item.Avatar.Path"/>
                    }
                    else
                    {
                        <img alt="" src="/Content/img/pList/454x312.jpg"/>
                    }
                    <div class="title">
                        <a href="@Url.Action("PatyDetails","Home", new {id=item.Id})" class="redButton">Подробнее</a>
                        <h3>@item.Title</h3>
                    </div>
                </div>
                <div class="itmDescr">
                    @if (item.Descr.Length >= 100)
                    {
                        <p>@item.Descr.Substring(0, 100) ...</p>
                    }
                    else
                    {
                        <p>@item.Descr</p>
                    }
                </div>
            </div>
        }
    </div>
</div>