@model IEnumerable<Web.Domen.Models.Paty>
<div class="nearParty" style="background-color: #e8e8e8;">
    <h2>ближайшие мероприятия:</h2>
    <div class="row960">
        <div class="prevItem" id="prev">
            <img alt="" src="/Content/img/prevBtn.png"/>
        </div>
        <div class="patyCarousel" id="paty">
            @foreach (var item in Model)
            {
                <div class="carItem">
                    <div class="topString"></div>
                    <div class="whiteBg">
                        @if (item.Avatar != null)
                        {
                            <img alt="" src="@item.Avatar.Path" height="168"/>
                        }
                        else
                        {
                            <img alt="" src="/Content/img/pList/454x312.jpg" height="168"/>
                        }
                        <div class="redline"></div>
                        <p>@item.PatyDate.ToShortDateString()</p>
                        <h3>@item.Title</h3>
                        <p class="pD">@item.Descr</p>
                        <a href="@Url.Action("PatyDetails","Home", new {id=item.Id})"><span class="redLink">Подробнее ></span></a>
                    </div>
                </div>

            }
            @*<div class="carItem">
                <div class="patyItem" href="#">
                    <div class="pImgAva">
                        <img alt="" src="/Content/img/pt.jpg"/>
                    </div>
                    <p>01.10.16</p>
                    <h3>Турнир по бильярду среди новичков и профессионалов</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim
                    </p>
                    <a class="redLink" href="#">Подробнее ></a>
                </div>
            </div>
            <div class="carItem">
                <div class="patyItem" href="#">
                    <div class="pImgAva">
                        <img alt="" src="/Content/img/pt.jpg"/>
                    </div>
                    <p>01.10.16</p>
                    <h3>Турнир по бильярду среди новичков и профессионалов</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim
                    </p>
                    <a class="redLink" href="#">Подробнее ></a>
                </div>
            </div>
            <div class="carItem">
                <div class="patyItem" href="#">
                    <div class="pImgAva">
                        <img alt="" src="/Content/img/pt.jpg"/>
                    </div>
                    <p>01.10.16</p>
                    <h3>Турнир по бильярду среди новичков и профессионалов</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim
                    </p>
                    <a class="redLink" href="#">Подробнее ></a>
                </div>
            </div>*@
        </div>
        <div class="nextItem" id="next">
            <img alt="" src="/Content/img/nextBtn.png"/>
        </div>
    </div>
    <a href="@Url.Action("NearDetails")" class="redButton">Смотреть расписание на ближайший месяц</a>
</div>
