@model Web.Domen.Models.Order
@{
    ViewBag.Title = "OrderDetails";
    Layout = "~/Views/Shared/_MainRnB.cshtml";
    var dp = Model.Paty.PatyDate.ToLongDateString().Split(' ');
    var dO = Model.OrderDate.ToLongDateString().Split(' ');
}

<div class="columnBlock">
    <div class="myColumn ticket">
        <table>
            <tr>
                <td colspan="5">
                    <p>
                        Организатор: "<span style="color: red; font-family: 'Impact'; font-weight: normal; font-size: 18pt;">KRASNOE</span><span style="color: black; font-family: 'Impact'; font-weight: normal; font-size: 18pt;">&ЧЕРНОЕ</span>" redblackclub.ru
                    </p>
                </td>
            </tr>
            <tr class="patyDataCells">
                <td colspan="2">
                    <p>@dp[0]</p>
                    <p>@dp[1], @dp[2]</p>
                    <p>@Model.Paty.PatyDate.ToShortTimeString()</p>
                </td>
                <td colspan="3">
                    <p>
                        @Model.Paty.Title
                    </p>
                </td>
            </tr>

            <tr>
                <td colspan="5">
                    <p style="text-align: left; font-weight: normal; font-size: 16pt">
                        Место проведения: @Model.Paty.Place
                    </p>
                </td>
            </tr>

            <tr class="ticketCells">
                <td>
                    <div>
                        <p>Имя участника</p>
                        <p>@Model.Customer.Fio</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>№ места</p>
                        <p>@Model.PlaceNumbers</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>Стоимость</p>
                        <p>@(Model.TotalCost > 0 ? Model.TotalCost + " руб." : "БЕСПЛАТНО")</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>Дата заказа</p>
                        <p>@Model.OrderDate.ToString("M"),</p>
                        <p>@Model.OrderDate.ToShortTimeString()</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>№ заказа</p>
                        <p>@Model.Id</p>
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="5">
                    <p>Данный контрольный документ согласован с организатором и дает право на посещение события его владельцу</p>
                </td>
            </tr>

        </table>
        <form action="https://redblackclub.ru/printticket" method="POST">
            <input type="hidden" value="@Model.Id" name="id"/>
            <input type="submit" value="Печатная форма пригласительного" class="redButton"/>
        </form>
    </div>
</div>
