@using Newtonsoft.Json
@using Web.Helpers
@model Web.Domen.Models.Paty
@{
	ViewBag.Title = Model.Title;
	Layout = "~/Views/Shared/_MainRnB.cshtml";
}

<div class="column">
<div class="topPicture">
	<img alt="" src="@(Model.Avatar.Path ?? "/Content/img/pList/942x434.jpg")"/>
	<div class="shadow"></div>
	<h1>@Model.Title</h1>
	<div class="gRg"><span> </span><span> </span><span> </span></div>
</div>

	@if (HttpContext.Current.Request.IsMobileBrowser())
	{
		<div class="orderMobile">
			@Html.Action("MobilePatyForm", "Home", new { patyId = Model.Id })
		</div>
	}
	else
	{
		<div class="order">
			@Html.Action("DesktopPatyForm", "Home", new {patyId = Model.Id})
		</div>
	}

	@Html.Action("PatyPhotos","Home", new {id=Model.Category.Id})
</div>
@section scripts
{
	<script src="~/Scripts/jquery.vkAction.js"></script>
<script src="~/Scripts/AdminJs/Countdown.js"></script>
	@*<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/ru_RU/all.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>*@

<script type="text/javascript">VK.Widgets.Like("vk_like", {type: "button"});</script>
	<script type="text/javascript">
		$(document).ready(function() {
			Countdown(@Html.Raw(JsonConvert.SerializeObject(Model.PatyDate.ToUniversalTime())),['days','hours','minutes','seconds'], function() {

			});

			$("#vk_share_button").tweetAction({
				title: '@(Model.Title)',
				url: '@("https://redblackclub.ru" + Request.Url.PathAndQuery)',
				description: '@Html.Raw(Model.Descr.Replace("\r\n", string.Empty))',
				image: '@("https://redblackclub.ru" + Model.Avatar.Path)',
				noparse: true,
				no_vk_links: 1
			}, function() {

			});

		    setTimeout('VK.Observer.publish("widgets.like.shared",8)', 4000);

			$(".fb_share").click(function() {
					FB.ui({
							method: 'share',
							name: 'Facebook Dialogs',
							href: '@("https://redblackclub.ru" + Request.Url.PathAndQuery)',
							picture: '@("https://redblackclub.ru" + Model.Avatar.Path)',
							caption: '@(Model.Title)',
							description: '@Html.Raw(Model.Descr.Replace("\r\n", string.Empty))',
							message: 'Приглашаем всех!'
						},
						function(response) {
							if (response) {
								$(".fb_share").hide();
							}
						}
					);
				}
			);
		});
	</script>
}
@section links
{
<link href="~/Content/countdown.css" rel="stylesheet" />
}
