@model IEnumerable<Web.Domen.Models.ImageData>
<div class="myColumn" id="photoBlock">
    <h2>Посмотрите фото и видео с наших мероприятий</h2>
    <div><span> </span><span> </span><span> </span></div>
    <div class="btnBlock">
        <a href="#" class="" data-bind="click:photoView.bind($data, 'PHOTO'), css:{redButton:photoView()==='PHOTO',grayButton:photoView()!=='PHOTO' }">Фото</a>
        <a href="#" class="" data-bind="click:photoView.bind($data, 'VIDEO'), css:{redButton:photoView()!=='PHOTO',grayButton:photoView()==='PHOTO' }">Видео</a>
    </div>
    <div class="row960w" style="display: none;" data-bind="visible:photoView()==='PHOTO'">

        @foreach (var item in Model.Where(data => string.IsNullOrEmpty(data.VideoLink)))
        {
            <div class="pvImageWr">
                <a href="@item.Path" data-lightbox="image-title" data-title="@item.Region.Description">
                    <img class="example-image" alt="" src="@item.Path"/>
                    <div class="pvBorder"></div>
                </a>
                <div class="actions albomStat">
                    <i class="fa fa-eye"></i>
                    <p>125</p>
                    <a href="">
                        <i class="fa fa-heart"></i>
                        <p>0</p>
                    </a>
                    <a href="@Url.Content(item.Path)" target="_blanck">
                        <i class="fa fa-download"></i>
                    </a>
                    <i class="fa fa-share-alt"></i>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a class="alStatDelet" href="@Url.Action("DeletePhoto","ImageGalary", new {id =item.Id, returnUrl=Request.Url?.PathAndQuery})" target="_blanck">
                            <i class="fa fa-times"></i>
                        </a>
                    }
                </div>
            </div>
        }
    </div>
    <div class="row960w" style="display: none;" data-bind="visible:photoView()==='VIDEO'">
        @foreach (var video in Model.Where(data => !string.IsNullOrEmpty(data.VideoLink)))
        {
            <div class="pvVideoWr">
                <iframe width="430" height="220" src="@video.VideoLink" allowfullscreen frameborder="0"></iframe>
            </div>
        }
        @*<div class="pvImageWr">
            <div class="pvBorder"></div>
            <iframe width="250" height="179" src="https://www.youtube.com/embed/iUWtNrfLD10" allowfullscreen></iframe>
        </div>
        <div class="pvImageWr">
            <div class="pvBorder"></div>
            <iframe width="250" height="179" src="https://www.youtube.com/embed/iUWtNrfLD10" allowfullscreen></iframe>
        </div>
        <div class="pvImageWr">
            <div class="pvBorder"></div>
            <iframe width="250" height="179" src="https://www.youtube.com/embed/iUWtNrfLD10" allowfullscreen></iframe>
        </div>
        <div class="pvImageWr">
            <div class="pvBorder"></div>
            <iframe width="250" height="179" src="https://www.youtube.com/embed/iUWtNrfLD10" allowfullscreen></iframe>
        </div>
        <div class="pvImageWr">
            <div class="pvBorder"></div>
            <iframe width="250" height="179" src="https://www.youtube.com/embed/iUWtNrfLD10" allowfullscreen></iframe>
        </div>*@
    </div>
    <a class="redLink" href="@Url.Action("Galary")">Смотреть еще</a>
</div>
