<!DOCTYPE html>

<html style="height: 100%">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/admin.css" rel="stylesheet" />
</head>
<body>
<header>
    <div class="headTop">
    </div>
    @Html.ActionLink("Index","Index","Cms", null, new {@class=ViewBag.active})
    <a class="@ViewBag.active" href="@Url.Action("Roles","Cms")">Roles</a>
</header>
<div class="bodyContent">
    <div class="bodyTop">
        @Html.ActionLink("Main", "Index", "Home")
        @Html.ActionLink("Выход","LogOut","Auth")
    </div>
    <div class="mainContent">
        @RenderBody()
    </div>
</div>
<script src="~/Scripts/jquery-2.2.4.min.js"></script>
</body>
</html>
